@import "tailwindcss";
@import "tw-animate-css";

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Supreme', Arial, sans-serif;
}

/* Cores do gradiente */
:root {
  --principal-yellow: #ffc700;
  --secondary-yellow: #f1d85a;
  --black-color: #030303;
}